*{
    box-sizing: border-box;
    
}
body{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: aqua;
    padding: 1% 7%;
    text-align: center;
}

h1{
    font-size: 2.5rem;
    
}
h2{
    color: white;
    font-size: 1.5rem;
    text-align: center;
}
p{
    font-size: 1.2rem;
    text-align: justify;
}

.dotted-hr{
    border: dotted 5px white;
    border-bottom: none;
    width: 70px;
    margin: 20px auto;
}

.style-img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

a{
    text-decoration: none;
    color:white;
    font-size: 1.5rem;
}

/* For mobile phones: */
[class*="col-"] {
    float: left;
    padding: 10px;
    width: 100%;
  }

  .navbar::after{
      content: " ";
      clear: both;
      display: table;
  }

  .navbar h1{
      padding-top: 10px;
      margin: 0;
      color: white;
  }
 .navber-menu{
     display: flex;
     flex-direction: column;
 }

 .navber-menu a{
     background-color: yellow;
     margin: 5px;
     border-radius: 5px;
 }

 .navber-menu a:hover{
   background-color: yellowgreen;
 }


.profile{
    padding: 130px 10px;
    position: relative;
    text-align: center;
}

.style-icon-top{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 60px;
    top:20px;
    transition: transform 2s;
}


.style-icon-top:hover{
   
   transform: rotate(360deg);
}

.profile h1{
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
}


.profile p{
    text-align: center;
    width: 90%;
    margin: 0 auto 20px auto;
    color: gray;
}

.profile::after{
    content: ' ';
    clear: both;
    display: table;
}

.style-icon-bottom{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 60px;
    bottom:20px;
    transition: transform 2s;
}

.style-icon-bottom:hover{
   
    transform: rotate(360deg);
 }


 .about-me{
     background-color: turquoise;
     padding: 1% 7%;
     color: white;
     text-align: center;
 }

 .about-me::after{
     content: ' ';
     clear: both;
     display: table;
 }

 .aboutme-img img{
    height: 200px;
    width: 200px;
    border: 5px solid white;
    border-radius: 50%;
 }

 .about-me p{
     text-align: center;
 }

 .cv-b{
     background-color:teal;
     color: white;
     border: none;
     border-radius: 10px;
     padding: 15px;
     font-size: 1rem;
     cursor: pointer;
     margin: 10px;
     text-align: center;
 }

 .professinal-experience{
     padding: 1% 0%;
     
 }
 .professinal-experience .card{
     background-color: darkgray;
     padding: 10px;
     border-radius: 5px;
     transition: 0.3s;
     height: 700px;
 }

 .professinal-experience .card:hover{
     box-shadow: 0 5px 7px 5px black;
 }

 .card-icon{
     text-align: center;
 }

 .card-icon img{
     margin-top: 20px; 
     width: 100px;
     height: 100px;
     border: 5px solid white;
     border-radius: 50%;
     padding: 5px;
 }

 .card-heading h2{
     background-color: thistle;
     padding: 5px;
     text-align: center;
     
     
 }

 .skill-container{
     padding-right: 45px;
    
 }
 .skill-container li{
     list-style-type: none;
     margin: 30px 10px;
     font-weight: bold;
     position: relative;
 }

 .skill-container li::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 10px;
    background-color: rgb(86,86,153,.5);
    top:calc(100% + 5px);
    border-radius: 1000px;
}

.skill-container li::after{
    position: absolute;
    content: '';
    width: 0;
    height: 10px;
    background-color: rgb(86,86,153,1);
    top:calc(100% + 5px);
    left: 0;
    border-radius: 1000px;

    animation-duration: 3s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.skill-container li.html::after{
    animation-name: html;
}
@keyframes html{
    to{
        width: 90%;
    }
}


.skill-container li.css::after{
    animation-name: css;
}
@keyframes css{
    to{
        width: 70%;
    }
}

.skill-container li.css::after{
    animation-name: css;
}
@keyframes css{
    to{
        width: 70%;
    }
}

.skill-container li.css::after{
    animation-name: css;
}
@keyframes css{
    to{
        width: 70%;
    }
}

.skill-container li.bootstrap::after{
    animation-name: bootstrap;
}
@keyframes bootstrap{
    to{
        width: 80%;
    }
}
.skill-container li.js::after{
    animation-name: js;
}
@keyframes js{
    to{
        width: 50%;
    }
}


.skill-container li.php::after{
    animation-name: php;
}
@keyframes php{
    to{
        width: 50%;
    }
}


.skill-container li.c::after{
    animation-name: c;
}
@keyframes c{
    to{
        width: 70%;
    }
}

.skill-container li.python::after{
    animation-name: python;
}
@keyframes python{
    to{
        width: 50%;
    }
}

.professinal-experience::after{
    content: '';
    clear: both;
    display: table;
}


.achivement-contact{
    background-color: turquoise;
    padding: 1% 7%;
    color: white;
}


.contact-me{
    text-align: center;
}
    


.contact-me input, textarea {
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    border: none;
    margin: 5px;
    border-radius: 5px;
    resize: none;
}

.contact-me button{
    padding: 10px;
    text-align: center;
    background-color: teal;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    margin: 10px;
    width: 100px;
}

.achivement-contact::after{
    content: '';
    clear: both;
    display: table;
}

.contact-here{
    text-align: center;
}

.btn{
    width: 50px;
    height: 50px;
    border: none;
    font-size: 30px;
    border-radius: 25%;
    padding: 5px;
    margin: 10px;
    cursor: pointer;

}


.btn:hover{
   background-color: rgb(226, 170, 160);
}


.footer{
    background-color: black;
    padding: 20px;
    text-align: center;
    font-size: 1rem;
}

.footer-menu a{
    margin: 15 0px;
    display: block;
}

.footer-menu a:hover{
    color: gray;
}

.footer-desc{
    color:white;
    text-align: center;
    font-size: 1rem;
}


.footer::after{
    content: '';
    display: table;
    clear: both;
}